@import "tailwindcss";

@theme inline {
  --color-primary: #e31837;
  --color-secondary: #ff6b35;
  --color-background-light: #fff8f0;
  --color-background-dark: #211113;

  --font-display: "Poppins", "Inter", "sans-serif";
  --font-sans: "Inter", "sans-serif";
  --font-mono: "Geist Mono", "monospace";

  --radius-default: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
}

:root {
  --background: #fff8f0;
  --foreground: #181112;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #211113;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
